<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add user</h1>
    <form action="http://localhost:8080/user" method="post">
        <div><input type="text" name="username" id="username" required placeholder="username"></div>
        <div><input type="email" name="email" id="email" required placeholder="email"></div>
        <div><input type="password" name="password" id="password" required placeholder="enter password"></div>
        <button type="submit">add yourself</button>
    </form>
</body>
</html>