<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            <%peoples.forEach((people)=>{%>
                <div style="background-color: pink;"><%= people.username %></div>
                <div style="background-color: pink;"><%= people.id %></div>
                <div  style="margin-bottom: 20px; background-color: pink;"><%= people.email %></div>
            <% }) %> 
    
            
        </div>
    </section>
</body>
</html>